@tailwind base;
@tailwind components;
@tailwind utilities;

*,
body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  scrollbar-width: none;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}
.delete-button-visible .delete-button {
  display: block !important;
}

.delete-button {
  display: none;
}